body {
	background:#F2F2E9;
	font-family:"Trebuchet MS";
	font-size:13px
}
h1 {
	margin:0;
	padding:15px;
}
#content {
	width:90%;
	margin:10px auto 10px auto;
	border:1px solid #000;
	margin-top:10px;
	min-height:500px;
}
#header {
	background-color:#000;
	height:50px;
}
#header_content {
	padding:5px 0 0 10px;
}
#header_content a {
	color:#FFF;
}
#header_content a:hover {
	text-decoration:none;
}
#main {
	padding:5px;
	min-height:500px;
	background-color:#FFF;
}
#footer {
	background-color:#000;
	color:#FFF;
	padding-left:10px;
}
