body {
  background:#F2F2E9;
  font-family:"Trebuchet MS";
  font-size:13px
}
h1 {
  margin:0;
  padding:0;
}
#content {
  width:90%;
  margin:10px auto;
  border:1px solid #000;
  padding:0px;
  background-color:#FFF;
}
#header {
  background-color:#000;
  height:50px;
}
#header_content {
  padding:5px 0 0 10px;
}
#header_content a {
  color:#FFF;
}
#header_content a:hover {
  text-decoration:none;
}
#main {
  padding:5px;
  margin-bottom:5px;
  min-height:500px;
}
#footer {
  background-color:#000;
  color:#FFF;
  padding-left:10px;
}
.holder {
  padding:5px;
  margin:0px;
}
#view_day {
  border:1px solid #000;
  min-height:500px;
}
#calendar {
  min-height:500px;
  height:500px;
}
.calendar_day {
  width:14.285714285714285714285714285714%;
  padding:2px;
  margin:0;
}
.calendar_day_day {
  height:18%;
}
.calendar_day .inner {
  border:1px solid #000;
  height:100%;
  padding:2px 2px 2px 4px;
}
.calendar_day .day_of_week {
  text-align:center;
  height:25px;
  background-color:#d3d3d3;
  font-weight:bold;
}
.calendar_day .selected {
  background-color:sandybrown;
  font-weight:bold;
}
.page_prev {
  padding-right:20px;
  cursor:pointer;
}
.page_next {
  padding-left:20px;
  cursor:pointer;
}
.header {
  background-color:#000;
  line-height:25px;
  color:#FFF;
  font-weight:bold;
}
#calendar .header {
  margin:0 2px 0 2px;
}
.title {
  margin:0 auto;
  width:50%;
  text-align:center;
}
